{
  "presets": [
    ["env", {
      "targets": {
        "browsers": ["last 2 major versions", "> 1%", "not ie <= 10"]
      },
      "modules": false,
      "useBuiltIns": true
    }],
    "stage-3"
  ]
}
